{{ define "index" }}

<html lang="en" data-theme="{{ if .CurrentUser }}{{ .CurrentUser.Theme.String }}{{ else }}{{ .Config.Theme.Default.String }}{{ end }}">

<head>
    <meta charset="utf-8">
    <title>{{ .Config.Theme.Title }}</title>
    <meta name="description" content="{{ .Config.Theme.Title }}">
</head>

<body>
    {{ if .Notification }}
    <div class="notification-container">
        {{ if eq .Notification.Type.String "Error" }}
        <div class="notification notification--error">
            <svg class="notification__icon" viewBox="0 0 12 16" version="1.1">
                <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
            </svg>
            <div class="notification__content">
                <div class="notification__title">{{ unescape .Notification.Title }}</div>
                <div class="notification__body">{{ unescape .Notification.Content }}</div>
            </div>
        </div>
        {{ else }}
        <div class="notification notification--success">
            <svg class="notification__icon" viewBox="0 0 12 16" version="1.1" aria-hidden="true">
                <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"/>
            </svg>
            <div class="notification__content">

                <div class="notification__title">{{ unescape .Notification.Title }}</div>
                <div class="notification__body">{{ unescape .Notification.Content }}</div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}

    {{ template "header" . }}
    {{ template "content" . }}

    {{ block "styles" . }}
    <style>
        {{ template "styles.css". }}
    </style>
    {{ end }}
</body>

</html>

{{ end }}
