<div class="options__dropdown">
    <svg class="options__dropdown__icon options__dropdown__icon--right" viewBox="0 0 12 16">
        <path fill-rule="evenodd"
            d="M6 8h2v1H5V5h1v3zm6 0c0 2.22-1.2 4.16-3 5.19V15c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-1.81C1.2 12.16 0 10.22 0 8s1.2-4.16 3-5.19V1c0-.55.45-1 1-1h4c.55 0 1 .45 1 1v1.81c1.8 1.03 3 2.97 3 5.19zm-1 0c0-2.77-2.23-5-5-5S1 5.23 1 8s2.23 5 5 5 5-2.23 5-5z">
        </path>
    </svg>
    <select>
        <option value="0">Read Once</option>
        <option value="5">5 Minutes</option>
        <option value="60">1 Hour</option>
        <option value="1440" selected="selected">1 Day</option>
        <option value="10080">1 Week</option>
        <option value="43200">1 Month</option>
        <option value="525600">1 Year</option>
        <option value="keep">Keep Forever</option>
    </select>
    <svg class="options__dropdown__icon options__dropdown__icon--arrow" viewBox="0 0 10 16">
        <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
    </svg>
</div>
