:root {
  --border-label: #9ea2ae;
}

[data-theme="dark"] {
  --border-label: #333333;
}

.content > .list {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 3.8em;
}

.list__title {
  font-size: 1.6em;
  padding-left: 0.2em;
  margin-bottom: 1.4em;
  align-self: flex-start
}

.list__empty {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 1.2em;
  color: var(--color-text-body-disabled);
}

.list__element:first-of-type {
  border-width: 1px 0 1px 0;
}

.list__element {
  display: block;
  outline: none;
  padding: 1em;
  text-decoration: none;
  border: solid 1px var(--color-border-body);
  border-width: 0 0 1px 0;
  color: var(--color-text-body);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  align-self: stretch
}

.list__element:hover {
  background-color: var(--color-border-body);
}

.list__element .list__element__body {
  display: flex;
  align-items: center;
}

.list__element .list__element__title {
  font-size: 1.3em;
}

.list__element .list__element__label {
  align-self: flex-start;
  margin-left: 1.2em;
  background-color: var(--color-bg-medium);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  border: solid 1px var(--border-label);
  font-size: 0.9em;
}

.list__element .list__element__footnote {
  margin-top: 0.4em;
}
