{{ define "content" }}

<div class="content">
    <form id="paste-form" class="card card--editor" action="/pastes" method="POST">
        <div class="card__header">
            <input class="card__title" type="text" name="title" placeholder="Untitled">
        </div>

        <textarea name="content" class="card__body" pattern=".*\S+.*" title="Paste content required" required></textarea>

        <div class="card__footer">
            {{ if (len .Config.Highlight.Languages) }}
            <div class="card__control card__dropdown">
                <svg class="card__control__icon card__control__icon--right" viewBox="0 0 14 16" version="1.1">
                    <path fill-rule="evenodd"
                        d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z">
                    </path>
                </svg>
                <select name="language">
                    <option value="plaintext">Plain Text</option>
                    {{ range .Config.Highlight.Languages }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <svg class="card__control__icon card__control__icon--arrow" viewBox="0 0 10 16" version="1.1">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
                </svg>
            </div>
            {{ end }}

            {{ if .Config.Visibility.Enabled }}
            <div class="card__control card__dropdown">
                <svg class="card__control__icon card__control__icon--right" viewBox="0 0 16 16" version="1.1">
                    <path fill-rule="evenodd"
                        d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z">
                    </path>
                </svg>
                <select name="visibility">
                    {{ if .Config.Authentication.Enabled }}
                    <option value="2" {{ if eq .Config.Visibility.Default 2 }} selected="selected" {{ end }}>Public</option>
                    {{ end }}
                    <option value="1" {{ if eq .Config.Visibility.Default 1 }} selected="selected" {{ end }}>Listed</option>
                    <option value="0" {{ if eq .Config.Visibility.Default 0 }} selected="selected" {{ end }}>Unlisted</option>
                </select>
                <svg class="card__control__icon card__control__icon--arrow" viewBox="0 0 10 16" version="1.1">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
                </svg>
            </div>
            {{ end }}

            {{ if (len .Config.Expiry.Durations) }}
            <div class="card__control card__dropdown">
                <svg class="card__control__icon card__control__icon--right" viewBox="0 0 12 16" version="1.1">
                    <path fill-rule="evenodd"
                        d="M6 8h2v1H5V5h1v3zm6 0c0 2.22-1.2 4.16-3 5.19V15c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-1.81C1.2 12.16 0 10.22 0 8s1.2-4.16 3-5.19V1c0-.55.45-1 1-1h4c.55 0 1 .45 1 1v1.81c1.8 1.03 3 2.97 3 5.19zm-1 0c0-2.77-2.23-5-5-5S1 5.23 1 8s2.23 5 5 5 5-2.23 5-5z">
                    </path>
                </svg>
                <select name="expiry">
                    {{ range .Config.Expiry.Durations }}
                    <option value="{{ duration . }}">{{ formatExpiry . 2 }}</option>
                    {{ end }}
                </select>
                <svg class="card__control__icon card__control__icon--arrow" viewBox="0 0 10 16" version="1.1">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
                </svg>
            </div>
            {{ end }}

            <button type="submit" class="card__control card__button">Create</button>
        </div>
    </form>
</div>

{{ end }}
