.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 56rem;
  padding: 2.4rem 3rem;
  margin: 4rem auto 12rem auto;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.3);
  color: var(--color-text-body);
  background-color: var(--color-bg-light);
  box-sizing: border-box;
}

.card--grow {
  flex-grow: 1;
}

.card--compact {
  width: 30rem;
}

.card .card__header {
  display: flex;
  margin-bottom: 2rem;
}

.card .card__footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.card--compact .card__footer {
  margin-top: 1rem;
}

.card__footer .card__control {
  margin: 0 1rem;
}

.card__header .card__title {
  flex-grow: 1;
  font-size: 1.8rem;
}

.card .card__body {
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  font-size: 0.8rem;
  color: inherit;
  background-color: inherit;
  box-sizing: border-box;
  overflow-wrap: normal;
  white-space: pre-wrap;
  box-shadow: none;
}

.card__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.card--compact .card__field {
  margin-bottom: 1rem;
}

.card__field__title {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.card__field__title--small {
  font-size: 0.9rem;
  color: var(--color-text-body-light)
}

.card__field__body {
  display: flex;
}

.card__field__description {
  flex-basis: 45%;
  margin-right: 2rem;
  font-size: 0.8rem;
  color: var(--color-text-body-light)
}

.card__input,
.card__control {
  display: flex;
  flex-basis: 8rem;
  flex-grow: 1;
  box-sizing: border-box;
  min-height: 2.3rem;
  max-height: 2.3rem;
  border: 1px solid var(--color-border-body);
  border-radius: 0;
  color: var(--color-text-body-light);
  background-color: var(--color-bg-light);
  -webkit-transition: background-color 120ms ease-in-out;
  -ms-transition: background-color 120ms ease-in-out;
  transition: background-color 120ms ease-in-out;
  font-size: 1rem;
  padding: 0;
}

.card__control:active,
.card__control:focus,
.card__control:hover,
.card__dropdown > select:focus {
  outline: none;
  background-color: var(--color-bg-medium);
}

.card__control:-moz-focusring,
.card__control > select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 var(--color-text-body-light);
}

.card__input {
  padding-left: 0.6rem;
}

.card__button {
  cursor:pointer;
  flex-grow: 0;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-body-light);
}

.card__button:active {
  background-color: var(--color-bg-dark);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: #b1b1b1;
}

.card__dropdown {
  position: relative;
}

.card__dropdown > select{
  padding: 0rem 0rem 0rem 2rem;
  width: 100%;
  border: none;
  color: inherit;
  background-color: inherit;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.card__dropdown > .card__control__icon {
  position: absolute;
}

.card__dropdown > .card__control__icon--right {
  padding: 0.5rem 0.5rem;
}

.card__dropdown > .card__control__icon--arrow {
  right: 0;
  padding: 0.5rem 0.5rem;
}

.card__control__icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--color-text-body);
  pointer-events: none;
}
