.list__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.list__empty {
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  color: var(--color-text-body-disabled);
  align-self: center;
  align-items: center;
}

.list__element:first-of-type {
  border-width: 1px 0 1px 0;
}

.list__element {
  display: flex;
  flex-direction: column;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  border: solid 1px var(--color-bg-medium);
  border-width: 0 0 1px 0;
  color: var(--color-text-body);
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.list__element:hover {
  background-color: var(--color-bg-medium);
}

.list__element .list__element__body {
  display: flex;
}

.list__element .list__element__title {
  font-size: 1rem;
}

.list__element .list__element__label {
  align-self: center;
  margin-left: 1.2rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  color: var(--color-text-body-light);
  border: solid 1px var(--color-border-body);
}

.list__element .list__element__footnote {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: var(--color-text-body-light)
}
