.notification-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5.5rem;
  right: 2rem;
  width: 28rem;
  pointer-events: none;
}

.notification {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem 1.6rem;
  pointer-events: none;
  color: var(--color-text-header);
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.3);
}

.notification--error {
  background-color: var(--color-error);
}

.notification--success {
  background-color: var(--color-success);
  -webkit-animation: notification-in-out 5s forwards;
  animation: notification-in-out 5s forwards;
}

.notification__icon {
  width: 2.6rem;
  fill: var(--color-text-header);
  margin-right: 1.4rem;
}

.notification__content {
  display: flex;
  flex-direction: column;
}

.notification__title {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.notification__body {
  font-size: 1rem;
}

.notification__body:first-letter {
    text-transform: uppercase;
}

@keyframes notification-in-out {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes notification-in-out {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
