{{ define "content" }}

<div class="content">
    <div class="content__body list">
        <div class="list__title">Public Pastes</div>

        {{ if not (len .Pastes) }}
        <div class="list__empty">No pastes found</div>
        {{ end }}

        {{ range .Pastes }}
        <a class="list__element" href="/view/{{ .ID }}">
            <div class="list__element__body">
                <div class="list__element__title">{{ .Title }}</div>
                {{ if ne .Language "plaintext" }}
                <div class="list__element__label">{{ .Language }}</div>
                {{ end }}
            </div>
            <div class="list__element__footnote">{{ formatPastDate .TimeCreated }}</div>
        </a>
        {{ end }}
    </div>
</div>

{{ end }}
